{{- define "title" -}}
  {{- .Title }} - {{ T .Data.Singular | default .Data.Singular -}}
  {{- if .Site.Params.with_site_title }} {{ .Site.Params.title_delimiter }} {{ .Site.Title }}{{- end -}}
{{- end -}}

{{- define "content" -}}
  {{- $icon := .Params.titleIcon | default (dict "Taxonomy" .Data.Singular "Slot" "term" | partial "function/get-taxonomy-icon.html") -}}
  {{- $pages := .Pages -}}
  <div class="page archive">
    {{- partial "section/archive-header.html" (dict
      "Pages" $pages
      "Title" .Title
      "Icon" $icon
    ) -}}
    {{- partial "section/archive-meta.html" (dict "Page" . "Pages" $pages) -}}
    {{- partial "section/archive-list.html" (dict
      "Page" .
      "Pages" $pages
      "Paginate" (.Site.Params.list.paginate | default .Site.Params.paginate)
      "DateFormat" (.Site.Params.list.date_format | default "01-02")
    ) -}}
  </div>
{{- end -}}
